<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route 2025</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Route 2025</h1>
    <form id="availability-form">
        <div id="luglio-agosto-container">
            <input type="text" id="name" placeholder="Nome" required>
            <div id="luglio">Luglio</div>
            <div id="agosto">Agosto</div>
        </div>
        <div id="calendar">
            <div class="calendar-header">Lunedì</div>
            <div class="calendar-header">Martedì</div>
            <div class="calendar-header">Mercoledì</div>
            <div class="calendar-header">Giovedì</div>
            <div class="calendar-header">Venerdì</div>
            <div class="calendar-header">Sabato</div>
            <div class="calendar-header">Domenica</div>
            <div class="calendar-day"></div>
        </div>
        <button type="submit">Invia</button>
    </form>
    <div id="result"></div>
    <div id="end">Made by Gioele Rora</div>
    <script src="/js/script.js"></script>
</body>
</html>
